@media only screen and (min-width: 37.5em) {
        nav button {
        display: none;
    }
    
    article p.town-article img {
        width: 62.666%;
        float: right;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: beige;
        max-width: 100%;
    }

    nav ul li {
        float: left;
        list-style: none;
        text-align: center;
        width: 16.6667%;
        width: calc(100% / 6);
        box-sizing: border-box;
    }
    li {
        display: block;
        white-space: nowrap;
    }
    #hamburger {
        display: none;
    }
    main figure img {
        max-width: 20%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 20px;
        float: left;
        margin-left: 20px;
    }

    nav ul li a {
        display: block;
        color: #24406f;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

    }
    #article-img {
        max-width: 20%;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 20%;
        float: right;
        margin-left: 20px;
    }
    #map-img {
        width: 10%;
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
    }

    article p.town-article img {
           }

    
    nav ul li.active a {}

    nav ul li a:hover {}

    main {
        text-align: center
    }

    main h2 {
        text-align: center
    }

    main figure {
        margin: 0 0 .2rem 2%;
        background-size: contain;
        margin-right: 20px;
        float: right;
        margin-left: 20px;
    }
    #article {
        padding-bottom: 30px;
    }
      footer {
        margin: 0 auto;
        color: black;
        background-color: olivedrab;  
        height: 5em;
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top: 40px;
    }
}