@media only screen and (min-width: 64em) {

    header,
    nav,
    main,
    footer {
        max-width: 90em;
    }

    .gallery_grid{
        grid-template-columns: auto auto auto;
    }
    .gallery_item{
        border-radius: 1rem;
    }
    .gallery_item:hover{
        box-shadow: .5rem .5rem 2rem black;}

        nav button {
            display: none;
        }
      
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: cadetblue;
            max-width: 100%;
        }
    
        nav ul li {
            float: left;
            list-style: none;
            text-align: center;
            width: 20%;
            width: calc(100%/6);
            box-sizing: border-box;
        }
    
}